In [2]:
import matplotlib.pyplot as plt
import pandas as pandas
import nbashots as nba

In [3]:
# GET INDIVIDUAL PLAYER DATA
curry_id = nba.get_player_id("Curry, Stephen")[0]
curry_logs = nba.PlayerLog(curry_id)
curry_logs_df = curry_logs.get_game_logs() #data frame for curry logs
curry_logs_df.head()

/Library/Python/2.7/site-packages/nbashots/api.py:305: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  df = df.convert_objects(convert_numeric=True)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22015,201939,0021501227,2016-04-13,GSW vs. MEM,W,30,15,24,0.625,...,3,4,6,2,0,2,2,46,19,1
1,22015,201939,0021501201,2016-04-10,GSW @ SAS,W,35,13,22,0.591,...,5,5,5,2,0,4,4,37,7,1
2,22015,201939,0021501190,2016-04-09,GSW @ MEM,W,34,7,22,0.318,...,9,9,8,1,0,2,1,17,10,1
3,22015,201939,0021501177,2016-04-07,GSW vs. SAS,W,36,11,19,0.579,...,5,5,9,2,0,3,2,27,14,1
4,22015,201939,0021501163,2016-04-05,GSW vs. MIN,L,43,7,25,0.280,...,4,6,15,3,0,3,4,21,3,1

In [24]:
# GET TEAM DATA
warriors_id = nba.get_team_id("Warriors")
warriors_logs = nba.TeamLog(warriors_id)
warriors_logs_df = warriors_logs.get_game_logs()
warriors_logs_df.head()

1610612744

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612744,0021501227,2016-04-13,GSW vs. MEM,W,73,9,0.890,240,46,...,0.813,12,39,51,35,7,7,17,14,125
1,1610612744,0021501201,2016-04-10,GSW @ SAS,W,72,9,0.889,240,34,...,0.778,7,39,46,19,7,6,13,18,92
2,1610612744,0021501190,2016-04-09,GSW @ MEM,W,71,9,0.888,240,39,...,0.923,7,41,48,20,3,7,11,14,100
3,1610612744,0021501177,2016-04-07,GSW vs. SAS,W,70,9,0.886,240,45,...,0.909,7,36,43,33,8,2,15,22,112
4,1610612744,0021501163,2016-04-05,GSW vs. MIN,L,69,9,0.885,265,49,...,0.875,9,37,46,35,9,5,23,29,117

In [5]:
all_data = nba.get_all_player_ids("all_data")
all_data.head()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,0,,,,,Y
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,0,,,,,Y
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,0,,,,,Y
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,HISTADD_mahmoud_abdul-rauf,0,,,,,Y
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,0,,,,,Y

In [6]:
# USING SHOTS CLASS
shots = nba.Shots()
current_season_shots = shots.get_shots() #every shot taken for current season
current_season_shots.head()

last_season_shots = nba.Shots(season="2014-15").get_shots()
last_season_shots.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG
0,Shot Chart Detail,0021400001,2,203076,Anthony Davis,1610612740,New Orleans Pelicans,1,11,43,...,Jump Shot,2PT Field Goal,Mid-Range,Center(C),16-24 ft.,20,50,194,1,0
1,Shot Chart Detail,0021400001,4,202696,Nikola Vucevic,1610612753,Orlando Magic,1,11,31,...,Jump Bank Shot,2PT Field Goal,Mid-Range,Center(C),16-24 ft.,18,-8,189,1,1
2,Shot Chart Detail,0021400001,7,203076,Anthony Davis,1610612740,New Orleans Pelicans,1,11,6,...,Jump Shot,2PT Field Goal,Mid-Range,Left Side Center(LC),16-24 ft.,18,-131,127,1,0
3,Shot Chart Detail,0021400001,9,203901,Elfrid Payton,1610612753,Orlando Magic,1,10,54,...,Layup Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,1,-15,4,1,0
4,Shot Chart Detail,0021400001,25,203076,Anthony Davis,1610612740,New Orleans Pelicans,1,10,29,...,Dunk Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,0,0,1,1,1

In [20]:
# MAKING SHOT CHARTS

curry_shots_df = nba.Shots(curry_id).get_shots() #get steph's shots

plt.rcParams['figure.figsize'] = (12, 11) #setting size for plots
nba.shot_chart(curry_shots_df.LOC_X, curry_shots_df.LOC_Y,
              title="Stephen Curry FGA 15-16 Season")
plt.show()

In [23]:
# TEAM SHOT CHARTS
print warriors_id
warriors_shots_df = nba.Shots(warriors_id).get_shots() #get dubs shots
warriors_shots_df.head()
# nba.shot_chart(warriors_shots_df.LOC_X, warriors_shots_df.LOC_Y,
#               title="Warriors FGA 2015-16 Season")
# plt.show()

1610612744

Empty DataFrame
Columns: [GRID_TYPE, GAME_ID, GAME_EVENT_ID, PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_NAME, PERIOD, MINUTES_REMAINING, SECONDS_REMAINING, EVENT_TYPE, ACTION_TYPE, SHOT_TYPE, SHOT_ZONE_BASIC, SHOT_ZONE_AREA, SHOT_ZONE_RANGE, SHOT_DISTANCE, LOC_X, LOC_Y, SHOT_ATTEMPTED_FLAG, SHOT_MADE_FLAG]
Index: []

[0 rows x 21 columns]

In [29]:
# KDE SHOT CHARTS
nba.shot_chart(curry_shots_df.LOC_X, curry_shots_df.LOC_Y,
              kind="kde", title="Stephen Curry FGA 15-16 Season")
plt.show()

In [35]:
# HEX SHOT CHARTS
# get a colormap for the KDE shot chart
cmap=plt.cm.gist_heat_r

nba.shot_chart(curry_shots_df.LOC_X, curry_shots_df.LOC_Y,
              kind="hex", cmap=cmap, gridsize=26, title="Stephen Curry FGA 15-16 Season")
plt.show()